.App {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  overflow-y: scroll;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
  color: rgb(10, 10, 10);
  position: relative;
}

.solBrew {
  width: 15%;
  height: 70%;
  margin-left: 13rem;
  margin-top: -3rem;
}

.btn {
  background: linear-gradient(
    135deg,
    rgba(63, 92, 237, 1) 0%,
    rgba(161, 59, 247, 0.9780505952380952) 51%,
    rgb(2, 243, 187) 100%
  );
  background-size: 400% 400%;
  -webkit-animation: gradient-animation 2s ease infinite;
  -moz-animation: gradient-animation 2s ease infinite;
  animation: gradient-animation 2s ease infinite;
  border: none;
  border-radius: 3rem;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0rem 5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.5rem;
  line-height: 1.7rem;
  padding: 0 1rem;
}

.wallet-adapter-button-trigger {
  background-color: none !important;
}

.wallet-adapter-button.wallet-adapter-button-trigger:hover {
  background-color: transparent !important;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: none !important ;
}

.wallet-adapter-button[disabled] {
  background: none !important;
  color: none !important;
  cursor: not-allowed;
}

.header {
  margin: 0;
  font-size: 3.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.sub-text {
  font-size: 1.4em;
  font-weight: 600;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 0 45px 0 45px;
}

.title-container {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.donate {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
